In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import os, fnmatch
# 用于在jupyter中进行绘图
%matplotlib inline

In [3]:


#用于替换csv错误字符
def findReplace(directory, find, replace, filePattern):
    for path, dirs, files in os.walk(os.path.abspath(directory)):
        for filename in fnmatch.filter(files, filePattern):
            filepath = os.path.join(path, filename)
            with open(filepath) as f:
                s = f.read()
            s = s.replace(find, replace)
            with open(filepath, "w") as f:
                f.write(s)
findReplace("/Users/luozepeng/Myspace/机器学习/可穿戴设备数据集",",", ".","dataset-har-PUC-Rio-ugulino.csv")

导入关键包

In [6]:
activity_df = pd.read_csv('dataset-har-PUC-Rio-ugulino.csv',sep=';',dtype={"user": str, "gender": str,"age":int,
                                                                         "how_tall_in_meters":float,"weight":int,
                                                                        "body_mass_index":float,
                                                                        "x1":int,"y1":int,"z1":int,
                                                                        "x2":int,"y2":int,"z2":int,
                                                                        "x3":int,"y3":int,"z3":int,
                                                                        "x4":int,"y4":int,"z4":int,
                                                                        "class":str})
# activity_df.head()
# 类别属性数值化
class_map={'sitting':1,'sittingdown':2,'standing':3,'standingup':4,'walking':5}
activity_df['class']=activity_df['class'].map(class_map)
gender_map={'Woman':0,'Man':1}
activity_df['gender']=activity_df['gender'].map(gender_map)
activity_df.head()

,user,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4,class
0,debora,0,46,1.62,75,28.6,-3,92,-63,-23,18,-19,5,104,-92,-150,-103,-147,1
1,debora,0,46,1.62,75,28.6,-3,94,-64,-21,18,-18,-14,104,-90,-149,-104,-145,1
2,debora,0,46,1.62,75,28.6,-1,97,-61,-12,20,-15,-13,104,-90,-151,-104,-144,1
3,debora,0,46,1.62,75,28.6,-2,96,-57,-15,21,-16,-13,104,-89,-153,-103,-142,1
4,debora,0,46,1.62,75,28.6,-1,96,-61,-13,20,-15,-13,104,-89,-153,-104,-143,1

In [7]:
X=activity_df[['gender','age','how_tall_in_meters','weight','body_mass_index','x1','y1','z1',
              'x2','y2','z2','x3','y3','z3','x4','y4','z4']]
y=activity_df['class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/4, random_state=0)

In [8]:
print('数据集样本数：{}，训练集样本数：{}，测试集样本数：{}'.format(len(X), len(X_train), len(X_test)))

数据集样本数：165633，训练集样本数：124224，测试集样本数：41409

In [10]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5)

In [11]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [12]:
y_pred = knn.predict(X_test)
print(y_pred)

[1 2 1 ..., 3 4 5]

In [13]:
from sklearn.metrics import accuracy_score

acc = accuracy_score(y_test, y_pred)
print('准确率：', acc)

准确率： 0.993165736917